@page
@using Microsoft.AspNetCore.Mvc.Localization
@using StokTakip.Localization
@using Volo.Abp.Users
@inject ICurrentUser CurrentUser
@inject IHtmlLocalizer<StokTakipResource> L
@model StokTakip.Web.Pages.Products.IndexModel
@{
}
@section scripts
{
    <abp-script src="/Pages/Products/Index.js" />

}

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<abp-row>

    <abp-column>
        <abp-card>

            <abp-card-header>
                <abp-row>
                    <abp-column>
                        <abp-card-title>@L["Filter"].Value</abp-card-title>
                    </abp-column>
                    <abp-column size-md="_6" class="text-right">

                    </abp-column>
                </abp-row>
            </abp-card-header>

            <abp-card-body>
                <abp-row>
                    <abp-column size-md="_2">
                        <div class="form-group">
                            <input type="text" placeholder="@L["Name"].Value" id="Name" class="form-control" style="height:5%">
                            <span class="text-danger field-validation-valid"></span>
                        </div>

                    </abp-column>
                    <abp-column size-md="_2">

                        <div class="form-group">
                            <select class="form-select" aria-label="Select Cinsiyet" id="gender">
                                <option value="3"  selected>Cinsiyet</option>
                                <option value="0">Erkek</option>
                                <option value="1">Kadın</option>
                                <option value="2">Unisex</option>
                            </select>
                        </div>
                    </abp-column>
                   

                    <abp-column size-md="_2">


                        <div class="form-group">
                            <button type="button" id="SearchApply" class="btn btn-primary">@L["Filter"].Value</button>
                        </div>

                    </abp-column>
                </abp-row>
                <abp-row>





                </abp-row>

            </abp-card-body>



        </abp-card>
    </abp-column>

</abp-row>
<br />

<abp-row>
    <abp-column>
        <abp-card>

            <abp-card-header>
                <abp-row>
                    <abp-column>
                        <abp-card-title>@L["Products"].Value</abp-card-title>
                    </abp-column>
                    <abp-column size-md="_2" class="text-right">

                        <abp-button id="newProduct"
                                    text="Yeni Ürün"
                                    icon="plus"
                                    button-type="Primary" />
                    </abp-column>
                </abp-row>
            </abp-card-header>

            <abp-card-body>

                <abp-table striped-rows="true" id="productsTable"></abp-table>
            </abp-card-body>


        </abp-card>
    </abp-column>
</abp-row>